/* Переменные */

:root {
    --text-main: #000;
    --text-dark: #222;
    --text-light: #fff;
    --text-accent: #298360;
    --text-danger: #f00;
    --text-small: #aaa;
}


/* Общие */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    color: var(--text-main);
}

input,
textarea {
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    padding: 0px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


/* @header */

.header {
    background-color: #fff;
    padding: 15px 0;
}

.header-row {}

.logo {
    // .logo__pic
    &__pic {
        display: block;
    }
    // .logo__img
    &__img {
        height: 50px;
    }
}

.menu {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    // .menu_link
    &_link {
        color: var(--text-main);
        text-decoration: none;
        margin-right: 15px;
    }
    &_link:hover {
        opacity: 1;
        visibility: visible;
        color: var(--text-accent);
    }
    &_link.active:hover {
        opacity: 1;
        visibility: visible;
    }
    // .menu__list
    &__list {
        position: relative;
    }
    &__list:last-child {
        margin-right: 0px;
    }
}

.header-phone {
    // .header-phone__link
    &__link {
        color: var(--text-accent);
        text-decoration: none;
    }
    &__link:hover {
        color: var(--text-main);
        text-decoration: underline;
    }
}


/* @hero */

.hero {
    min-height: 800px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}

.hero {
    // .hero__row
    &__row {}
    // .hero__inner
    &__inner {
        width: 50%;
        background-color: #eee;
        padding: 25px;
        margin-top: 25px;
    }
    // .hero__catalog
    &__catalog {}
    // .hero__order
    &__order {}
}

.hero__title {
    color: var(--text-small);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__title::before,
.hero__title::after {
    display: block;
    content: '';
    width: 100px;
    height: 5px;
    background-color: var(--text-accent);
    margin: 20px;
}

.doors {
    display: flex;
    justify-content: space-evenly;
}

.door {
    text-align: center;
    // .door__name
    &__name {
        text-transform: uppercase;
        color: var(--text-light);
        background-color: var(--text-small);
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.btn {
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-accent);
    border: 2px solid var(--text-accent);
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin: 20px 0px;
    transition: 0.2s;
}

.hero-btn {
    display: block;
    max-width: 250px;
    margin: 15px auto 5px;
}

.btn:hover,
.btn:focus,
.hero-btn:hover {
    color: var(--text-light);
    background-color: var(--text-accent);
}


/* @advantages */

.advantages {
    // .advantages__header
    &__header {
        height: 350px;
        font-size: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        color: var(--text-light);
    }
    // .advantages__title
    &__title {
        text-transform: uppercase;
    }
}

.advantages-block {}

.advantages-cards {
    align-items: stretch;
    padding: 50px 0px;
}

.advantages-card {
    text-align: center;
    width: 33.333%;
    padding: 25px;
    margin-bottom: 30px;
    // .advantages-card__pic
    &__pic {
        display: block;
    }
    // .advantages-card__img
    &__img {
        width: 100px;
        height: auto;
    }
    // .advantages-card__title
    &__title {
        text-transform: uppercase;
        color: var(--text-accent);
        font-size: 20px;
    }
    // .advantages-card__desc
    &__desc {
        line-height: 22px;
    }
}


/* @about */

.about {
    display: flex;
    align-items: center;
    min-height: 350px;
    color: var(--text-light);
}

.about-button {
    width: 50%;
    text-align: center;
    // .about-button__link
    &__link {}
}

.about-inner {}

.about-content {
    width: 50%;
    // .about-content__title
    &__title {
        line-height: 30px;
        text-transform: uppercase;
    }
    // .about-content__span
    &__span {
        color: var(--text-accent);
    }
    // .about-content__desc
    &__desc {
        line-height: 24px;
    }
}


/* 


*/


/*  */


/* 
















*/


/* Адаптивная версия */


/* lg */

@media (max-width: 1025px) {
    .container {
        max-width: 568px;
    }
    .menu {
        flex-direction: column;
        padding-left: 10px;
    }
    .hero,
    .advantages-block {
        background-size: cover;
        background-position: center;
    }
    .hero__inner {
        width: 100%;
    }
    .advantages-card {
        width: 50%;
    }
    .about-content,
    .about-button {
        width: 100%;
    }
}


/* md */

@media (max-width: 825px) {
    .container {
        max-width: 540px;
    }
    .hero__title::before,
    .hero__title::after {
        width: 40px;
    }
    .door__name {
        width: 120px;
        height: 120px;
        font-size: 12px;
        font-weight: bold;
    }
}


/* sm */

@media (max-width: 416px) {
    .container {
        max-width: 280px;
    }
    .header-row {
        justify-content: center;
    }
    .hero {
        padding-bottom: 20px;
    }
    .hero__title {
        text-align: center;
        font-size: 16px;
    }
    .about-content__title {
        font-size: 16px;
    }
    .doors {
        flex-wrap: wrap;
    }
    .btn {
        margin: 5px 0;
    }
    .hero__title::before,
    .hero__title::after {
        width: 40px;
    }
    .door__name {
        width: 120px;
        height: 120px;
        font-size: 12px;
        font-weight: bold;
    }
    .advantages-card {
        width: 100%;
    }
    .about {
        padding-bottom: 20px;
    }
}